h1{
    font-size:4em;
}
.vh100{
    height: 100vh;
}

.background-img{
    position: absolute;
    filter: blur(3px);
    z-index: -1;
    width: 100%;
}

.shadow{
    box-shadow: rgba(0,0,0,0.4) -2px 2px 15px;
}

.card {
    height:25vh;
}
.card div:first-child {
    height:75%;
}

.card div:first-child img{
    height:auto;
    width:auto;
}

@media screen and (min-width: 320px) and (max-width:767px){
    .vh100{
        height: 30vh;
    }

    h1{
        font-size:2em;
    }
  }