h1{
    font-size:3.5em;
}
.vh100{
    height: 100vh;
}

.background-img-home{
    background-image: url("../pictures/familly.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-img-add1{
    background-image: url("../pictures/ilya-pavlov-87472.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.shadow{
    box-shadow: rgba(0,0,0,0.4) -2px 2px 15px;
}

.btn-primary{
    background-color: #131a22;
    border:none;
}

@media screen and (min-width: 320px) and (max-width:767px){
    .vh100{
        height: 30vh;
    }

    h1{
        font-size:1.6em;
    }
  }