.background-img-produit {
    background-image: url("../pictures/familly.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
}

.img-produit {
    width: 100%;
}

.description {
    font-size: 1em;
    font-style: italic;
}

.livraison {
    font-size: 0.7em;
}

.breadcrumb {
    background: none;
}