.shadow{
    box-shadow: rgba(0,0,0,0.4) -2px 2px 15px;
}

.background-img-home{
    background-image: url("../pictures/familly.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}